<md-card *ngIf="chatMessages.length > 0;" class="chat">
    <div class="chat-message" *ngFor="let message of chatMessages">
        <span class="nickname">{{ message.nickName }}</span>
        <span class="message">{{ message.message }}</span>
        <span class="dateMessage">{{ message.created | date: 'short'}}</span>
    </div>
</md-card>
<md-card class="chat-inputs">
    <form [formGroup]="messageForm" (submit)="send()">
        <md-input-container>
            <input required mdInput formControlName="messageControl">
        </md-input-container>
        <button [disabled]="messageForm.invalid" md-mini-fab>
            <md-icon>send</md-icon>
        </button>
    </form>
</md-card>