.chat {
    width: 700px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    .chat-message {
        display: flex;
        justify-content: space-between;
        .nickname {
            font-size: 12px;
            color: #006064;
            margin-right: 5px;
            font-weight: bold;
            flex: 1 1 100px;
        }
        .message {
            font-size: 16px;
            flex: 10 10 600px;
        }
        .dateMessage {
            color: #E0E0E0;
            font-size: 12px;
            flex: 1 1 100px;
        }
    }
}
.chat-inputs {
    width: 700px;
    margin: 10px auto;
}