@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-cyan, 700);
$accent: mat-palette($mat-amber, 500);
$warn: mat-palette($mat-deep-orange, 500);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);